#navbar{
	background-color: transparent;
	z-index: 2;
	color: white;
	position: fixed;
}

.nav li{
	color: white;
	margin-top: 5%;
}

.nav ul{
	margin-left: 5px;
	color: white;
}

.nav a{
	color: #fff;
	font-size: 15pt;
	margin-right: 15%;
}

#home{
	width: 100%;
	height: 1100px;
	background-image: url('../../body-new.png');
	/*background-color: black;*/
	background-position: cover;
	background-size: 100% 1100px;
	margin-top: -5%;
	z-index: 1;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
}

.navbar-fixed-top.scrolled {
  background-color: rgba(0,0,0, 0.5); !important;
  transition: background-color 200ms linear;
  z-index: 0;
  height: 12%;
}
.companyName{	
	font-size: 40pt;
	margin-left: 15%;
}

.txtCompanyName{
	margin-left: 7%;
	margin-top: -7%;
}

.imgCompanyName{
	margin-top: 3%;
	margin-left: -2%;
}

.companyDetail{
	margin-left: 15%;
	margin-top: 5%;
	font-size: 15pt;
	font-family: 'Open Sans', sans-serif;
}

.btnLearnMore{

	color: white;
	text-align: center;
	margin-top: 110%;
	margin-left: 40%;
	border: 2px solid white;
	width: 35%;
	border-radius: 6%;
}

.btnLearnMore:hover{

	background-color:white;
	color: black;
}

.btnLearnMoreDetail{
	background-color: transparent;
}

.title{
	margin-top: 10%;
	text-align: center;
	font-size: 45pt;
	margin-bottom: 5%;
}

.titleVision{
	font-size: 35pt;
	font-family: 'Roboto Condensed', sans-serif;
}

.detailVision{
	margin-top: 5%;
	font-size: 15pt;
	font-family: 'Open Sans', sans-serif;
}

.titleMission{
	font-size: 35pt;
	margin-top: 10%;
	font-family: 'Roboto Condensed', sans-serif;

}

.detailMission{
	margin-top: 5%;
	font-size: 15pt;
	font-family: 'Open Sans', sans-serif;

}

.imgAboutLeft{
	margin-left: -10%;
	margin-top: 2%;
}

#about{
	background-color: #353637;
	color: white;
	margin-top: -10%;
}

.inner-about{
	margin-top: 2%;
}

.kelebihanPerusahaan{
	margin-top: 10%;
	font-size: 20pt;
	font-family: 'Roboto Condensed', sans-serif;

}

.divAdventage{
	background-image: url('thunder.png');
	background-size: 100%;
	width: 50%;
}

.imgAdventage{
	margin-top: -60%;
	margin-left: 17%;
}

.imgAdventage2{
	margin-top: -60%;
	margin-left: 22%;
}

.txtAdvantage{
	margin-left: 13%;
	margin-top: -10%;
	margin-bottom: 30%;
	font-family: 'Open Sans', sans-serif;
	font-size: 15pt;
}

#success{
	width: 100%;
	height: 860px;
	margin-bottom: 10%;
	background-color: #353637;
	background-image: url("../../success.png");
	background-size: 100% 860px;
	color: white;
}

.titleYear{
	font-size: 350pt;
	margin-top: 15%;
	color: #d1a821;
	font-family: 'Roboto Condensed', sans-serif;
}

.titleYear2{
	margin-top: 45%;
	font-family: 'Open Sans', sans-serif;

}

#project{
	background-color: #cdcecf;
	margin-top: -10%;
	height: 1200px;
	margin-bottom: 0%;
	margin-top: -12%;

}

.titleProject{
	margin-top: 0%;
	font-size: 45pt;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 5%;
}


.project1{
	background-image: url("project1.png");
	width: 100%;
	height: 1000px;
	background-size: 100% 1000px;
	margin-bottom: 5%;
	margin-left: 0%;
	border: 3px solid white;

}

.project-2{
	background-image: url("project-2.png");
	width: 100%;
	height: 1000px;
	background-size: 100% 1000px;
	margin-bottom: 5%;
	border: 3px solid white;
}

.project-3{
	background-image: url("project-3.png");
	width: 100%;
	height: 1000px;
	background-size: 100% 1000px;
	margin-bottom: 5%;
	border: 3px solid white;

}

.project-4{
	background-image: url("project-4.png");
	width: 100%;
	height: 1000px;
	background-size: 100% 1000px;
	margin-bottom: 5%;
	border: 3px solid white;

}

#service{
	background-color: #353637;
	color: white;
	height: 900px;
	margin-bottom: 2%;
	background-image: url("../../service.png");
	background-size: 100% 900px;

}

.titleService{
	margin-bottom: 7%;
	font-family: 'Roboto Condensed', sans-serif;
}

.imgService{
	margin-left: 28%;
}

.detailService{
	margin-top: 10%;
	font-family: 'Open Sans', sans-serif;

}

.detail{
	margin-top: 5%;
	margin-right: 5%;
	text-align: center;

}

#contact{
	margin-top: -2%;
	background-image: url("../../contact.png");
	background-size: 100% 500px;
	background-position: cover;
	height: 500px;
	color: white;
}

.imgBrand{
	width: 4%;
	margin-left: 1%;
}
